.page-privacy-policy{
	background-color: #ffffff;
	p,li{
		margin-top: 0;
		margin-bottom: 12px;
		color: #8e9093;
		font-size: 1.4rem;
	}
	.card{
		background:#ffffff;
		opacity:0.9;
	}
	blockquote {
		border-left: 5px solid #ddd;
		margin-left: 0;
		margin-right: 0;
		padding-left: 1.4em;
	}
	img {
		height: auto;
	}

}
